#sectionGuitarra {
  display: grid;
  grid-template-columns: 100%;
  grid-row: 50% 50%;
  justify-content: center; }

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos body */
body {
  background-image: url(../img/index/bg-large.webp);
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
  font-weight: 300; }

#bodyBio {
  background-position-x: 25%; }

/* Estilos del header */
header nav {
  height: 2cm;
  display: flex;
  justify-content: space-around;
  font-weight: 100; }
  header nav a {
    display: flex;
    align-items: center;
    text-decoration: none; }
    header nav a div h1 {
      color: white;
      padding-left: 1rem;
      align-self: center;
      font-size: 2rem;
      font-weight: 100; }
    header nav a div img {
      width: 42.5px;
      align-self: center;
      margin-bottom: 6px; }
  header nav ul {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem; }
    header nav ul li {
      color: white;
      font-size: 1.1rem; }
      header nav ul li a {
        color: white;
        transition: 200ms ease-in-out;
        display: flex;
        align-items: center; }
      header nav ul li a:active {
        color: #00ff82; }
      header nav ul li a:hover {
        color: #00ff82; }
  header nav .bg-transparent a {
    color: white; }
  header nav .bg-transparent a:hover {
    color: #00ff82;
    text-decoration: underline;
    text-underline-offset: -30px; }
  header nav .bg-transparent a:focus {
    color: #00ff82; }
  header nav .navbar-toggler {
    filter: invert(1);
    background-color: rgba(255, 255, 255, 0.281);
    border-color: black; }
  header nav .logo {
    display: flex;
    justify-content: center;
    transition: 200ms ease-in-out; }
  header nav .logo:hover {
    text-shadow: 0px 0px 1rem rgba(255, 255, 255, 0.555);
    color: white; }
  header nav #botonActivoNav {
    font-weight: 400; }

/* Media Query Header */
@media (max-width: 576px) {
  header nav a div {
    padding-top: 0.75rem; }
    header nav a div h1 {
      font-size: 1.35rem; }
    header nav a div img {
      height: 36px;
      width: 36px; }
  header nav nav ul {
    margin-left: 2.5rem;
    padding-bottom: 2rem; }
  #headerPrivacidadCondiciones {
    height: 10rem; } }

/* Estilos de main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem; }
  main h2 {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2.325rem;
    font-weight: bolder;
    transition: 125ms ease-in-out; }
  main h2:hover {
    transform: scale(1.1); }
  main h3 {
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-weight: normal; }

/* Invisibilidad de main en privacidad - condiciones */
#mainPrivacidadSobreNosotros {
  display: none; }

/* MQ main */
@media (min-width: 576px) {
  main h2 {
    font-size: 4rem; } }

/* Estilos Section */
section {
  background: linear-gradient(45deg, rgba(37, 0, 11, 0.842) 40%, rgba(0, 23, 39, 0.438) 60%, rgba(0, 68, 35, 0.315) 90%);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.308); }
  section h4 {
    font-weight: 400;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    padding-top: 1.3rem;
    color: white; }
  section h5 {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1.3rem;
    color: white; }
  section p, section li {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    text-align: justify;
    font-size: 1.25rem;
    align-items: center; }

/*Estilos Section Biografia*/
#sectionBio {
  background: linear-gradient(90deg, rgba(0, 49, 59, 0.774) 0%, rgba(9, 9, 121, 0.281) 35%, rgba(24, 0, 33, 0.849) 100%);
  padding-bottom: 1rem; }

/*Estilos Section Guitarra*/
#sectionGuitarra {
  background: linear-gradient(-38.5deg, rgba(92, 0, 0, 0.582) 0%, rgba(4, 112, 139, 0.267) 35%, rgba(87, 0, 119, 0.466) 100%); }

#imagen1guitarra {
  width: 22rem;
  border-radius: 0.6rem;
  transition: 200ms ease-in-out; }

#imagen1guitarra:hover {
  transform: scale(104%);
  filter: brightness(1.25); }

.divImagenGuitarra {
  display: flex;
  justify-content: center;
  align-items: center; }

#imagen2guitarra {
  width: 22rem;
  border-radius: 0.6rem;
  transition: 200ms ease-in-out; }

#imagen2guitarra:hover {
  transform: scale(104%);
  filter: invert(1); }

/* Estilos Privacidad-Condiciones de uso */
.sectionCondiciones {
  display: flex;
  align-items: center; }
  .sectionCondiciones ul li a {
    text-decoration: none;
    color: #ff9393; }

/* MQ section */
@media (min-width: 572px) {
  /*Index*/
  #gridSectionIndex {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 50% 50%;
    justify-content: space-evenly; }
  /*Biografia*/
  #sectionBio {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 65% 35%;
    justify-content: center; }
  /*Guitarra*/
  #sectionGuitarra {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-template-rows: 30% 70%;
    column-gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 4.5rem; }
  #imagen2guitarraDiv {
    grid-column-start: 2;
    grid-row-start: 1; }
  /*Condiciones y Privacidad*/
  #sectionCondicionesPrivacidad {
    padding-left: 18%;
    padding-right: 18%;
    display: flex;
    align-items: center; }
  .sectionCondiciones {
    height: 70rem; }
  .sectionPrivacidad {
    height: 50rem; } }

@media (max-width: 572px) {
  /*section guitarra mq*/
  #sectionGuitarra {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  /*condiciones*/
  .ulCondiciones {
    font-size: 1rem;
    padding-right: 2.3rem;
    padding-bottom: 0.85rem; }
  /*Privacidad*/
  .sectionPrivacidad {
    padding-bottom: 1.1rem; } }

/* Estilos Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.295);
  text-shadow: 0px 0px 10px black;
  padding-top: 1rem; }
  footer h6 {
    color: white;
    font-weight: 100;
    font-size: 1.2rem;
    padding-bottom: 0.625rem; }
  footer ul {
    display: flex;
    gap: 5rem;
    font-size: 0.95rem;
    list-style: none;
    transition: 200ms ease-in-out; }
    footer ul li a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8); }
    footer ul li a:hover {
      color: #00ff82; }

/*MQ footer*/
@media (max-width: 576px) {
  footer h6 {
    display: none; }
  footer ul {
    margin-right: 2.25rem; } }
