/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Estilos body */
body{
    background-image: url(../img/index/bg-large.webp);
    background-size: contain;
    background-size: 160%;
    background-position: top;
    background-repeat: no-repeat;
    text-decoration: none;
    list-style: none;
    font-weight: 300;
}