/* Estilos de main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;

    h2{
        text-align: center;
        color: $color-titulo;
        display: flex;
        justify-content: center;
        font-size: 2.325rem;
        font-weight: bolder;
        transition: 125ms ease-in-out
    }
    h2:hover{
        transform: scale(1.1);
    }

    h3{
        color: $color-titulo;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        font-weight: normal;
    }
}
/* Invisibilidad en Privacidad - Sobre Nosotros */
#mainPrivacidadSobreNosotros{
    display: none;
}

/* MQ main */
@media (min-width: 576px){
    main{
        h2{
            font-size: 4rem;
        }
    }
}