/* Estilos de main */

main{
    @include flexBase;

    flex-direction: column;
    align-items: center;
    height: 20rem;

    h2{
        text-align: center;
        color: $color-titulo;

        @include flexBase;

        font-size: 2.325rem;
        font-weight: bolder;
        transition: 125ms ease-in-out;

        &:hover{
        transform: scale(1.1);
        }
    }
    

    h3{
        color: $color-titulo;
        font-size: 1rem;

        @include flexBase;
        
        font-weight: normal;
    }
}
/* Invisibilidad de main en privacidad - condiciones */
#mainPrivacidadSobreNosotros{
    display: none;
}

/* MQ main */
    /* Tablets y escritorio */
    @media (min-width: 576px){
        main{
            h2{
                font-size: 4rem;
            }
        }
    }