/* Estilos Section */

section{
    background: linear-gradient(45deg, rgba(37, 0, 11, 0.842) 40%, rgba(0, 23, 39, 0.438) 60%, rgba(0, 68, 35, 0.315) 90%);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.308);

    h4{
        font-weight: 400;
        font-size: 1.8rem;

        @include flexBase;
        padding-top: 1.3rem;

        color: $color-titulo;
    }
    h5{
        font-weight: 400;
        font-size: 1.8rem;
        text-align: center;

        @include flexBase;
        padding-top: 1.3rem;

        color: $color-titulo;
    }

    p, li{
        color: $color-texto;
        padding-left: 0.85rem;
        padding-right: 0.85rem;
        text-align: justify;
        font-size: 1.25rem;
        align-items: center;
    }
}

    /*Estilos Section Biografia*/
    #sectionBio{
        background: linear-gradient(90deg, rgba(0, 49, 59, 0.774) 0%, rgba(9, 9, 121, 0.281) 35%, rgba(24, 0, 33, 0.849) 100%);
        padding-bottom: 1rem
    }

    /*Estilos Section Guitarra*/
    #sectionGuitarra{
    @extend %gridMobile;
    background: linear-gradient(-38.5deg, rgba(92, 0, 0, 0.582) 0%, rgba(4, 112, 139, 0.267) 35%, rgba(87, 0, 119, 0.466) 100%);
    }

    #imagen1guitarra{
    width: 22rem;
    border-radius: 0.6rem;
    transition: 200ms ease-in-out;
    }
    #imagen1guitarra:hover{
    transform: scale(104%);
    filter: brightness(1.25);
    }

    .divImagenGuitarra{
        @include flexBase;
        align-items: center;
    }



    #imagen2guitarra{
    width: 22rem;
    border-radius: 0.6rem;

    transition: 200ms ease-in-out;
    }
    #imagen2guitarra:hover{
    transform: scale(104%);
    filter: invert(1);
    }

    /* Estilos Privacidad-Condiciones de uso */


    .sectionCondiciones{
        display: flex;
        align-items: center;
        ul{
            li{
                a{
                    text-decoration: none;
                    color: $color-texto-link;
                }
            }
        }
    }




/* MQ section */
@media (min-width: 572px){
    
    /*Index*/
    #gridSectionIndex{
        display: grid;
        grid-template-columns: 46% 46%;
        grid-template-rows: 50% 50%;
        justify-content: space-evenly;
    }

    /*Biografia*/
    #sectionBio{
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 65% 35%;
        justify-content: center;
    }

    /*Guitarra*/
    #sectionGuitarra{
        display: grid;
        grid-template-columns: 46% 46%;
        grid-template-rows: 30% 70%;
        column-gap: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 4.5rem;
    }
    #imagen2guitarraDiv{
        grid-column-start: 2;
        grid-row-start: 1;
    }

    /*Condiciones y Privacidad*/
    #sectionCondicionesPrivacidad{
        padding-left: 18%;
        padding-right: 18%;
        display: flex;
        align-items: center;
    }
    .sectionCondiciones{
        height: 70rem;
    }
    .sectionPrivacidad{
        height: 50rem;
    }
}

@media (max-width: 572px){

    /*section guitarra mq*/
    #sectionGuitarra{
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    /*condiciones*/
    .ulCondiciones{
        font-size: 1rem;
        padding-right: 2.3rem;
        padding-bottom: 0.85rem;
    }
}