%flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

%grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 50% 50%;
    justify-content: center;
}